## Question 1

(a) Load the dataset and construct a feature vector for each article in the entire dataset. You need to report the number of articles, and the number of extracted features. Show 5 example articles with their extracted features using a dataframe.

In [21]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

data = pd.read_csv('train.csv')
vectorizer = CountVectorizer()
matrix = vectorizer.fit_transform(data['Text'])
X = data.drop('Category', axis=1)
y = data['Text']

data = pd.DataFrame(data=matrix.toarray(), columns=vectorizer.get_feature_names_out())
non_zero_cols = data.loc[:4].sum() != 0
non_zero_cols = non_zero_cols[non_zero_cols].index.tolist()

data = data[non_zero_cols]

data.head(5)

,000,10,11,12,121,125,14,165,17,19,...,woven,writing,written,year,yearned,years,younger,youngsters,youthful,zooropa
0,1,0,0,0,0,0,2,0,0,0,...,1,1,0,0,0,1,2,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,3,1,0,0,1,0,1,...,0,0,1,2,0,0,0,0,0,0
3,0,0,1,1,0,0,0,0,0,0,...,0,0,0,4,0,0,0,0,0,0
4,0,1,0,1,0,1,0,0,1,0,...,0,0,0,1,1,2,0,0,1,1